autoitemmanage/bin/*
autoitemmanage/obj/*
marketfavorite/bin/*
marketfavorite/bin/*
barrackitemlistebimod/bin/*
barrackitemlistebimod/bin/*
barrackitemlistebimod/obj/*
barrackitemlistebimod/obj/*
highlevelersmarket/obj/addon_d.ipf/highlevelersmarket/highlevelersmarket.lua
highlevelersmarket/obj/addon_d.ipf/highlevelersmarket/highlevelersmarket.xml
